<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="categories">Enrera</ion-back-button>
    </ion-buttons>
    <ion-title>Comanda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let producte of arrayProductes">
    <ion-item>
      <ion-label>{{producte.nom}}</ion-label>
      <ion-label slot="end">x{{arrayOrdenats[producte.id]}}</ion-label>

    </ion-item>
  </ion-card>
<form [formGroup]="comandaForm" (ngSubmit)="enviar()">
  <ion-item>
    <ion-label position="floating">Obesrvacions</ion-label>
    <ion-textarea formControlName="observacions"></ion-textarea>
  </ion-item>
  <ion-button type="submit" expand="block">Enviar Comanda</ion-button>
</form>
</ion-content>
