<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Que vols fer?
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button>aa</ion-menu-button>
      <ion-button (click)="logOut()" type="submit">Log out</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Que vols fer?</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card *ngFor="let taula of taules">
    <ion-item>
      <ion-icon src="assets/icon/table.svg"></ion-icon>
      <ion-label>{{ taula.nom }}</ion-label>
      <ion-button (click)="submit(taula.id)">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>

  
</ion-content>
